In [24]:
#ASSIGNMENT 1b (BILLBOARD)

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('billboard.csv')
df

,artiste,track,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,Rock,9/23/2000,11/18/2000,78,63.0,49.0,33.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",Rock,2/12/2000,4/8/2000,15,8.0,6.0,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,Rock,10/23/1999,1/29/2000,71,48.0,43.0,31.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,Rock,8/12/2000,9/16/2000,41,23.0,18.0,14.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,8/5/2000,10/14/2000,57,47.0,45.0,29.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,Ghostface Killah,Cherchez LaGhost,R&B,8/5/2000,8/5/2000,98,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,"Smith, Will",Freakin' It,Rap,2/12/2000,2/12/2000,99,99.0,99.0,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,Zombie Nation,Kernkraft 400,Rock,9/2/2000,9/2/2000,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,"Eastsidaz, The",Got Beef,Rap,7/1/2000,7/1/2000,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,Fragma,Toca's Miracle,R&B,10/28/2000,10/28/2000,99,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
billboard = pd.melt(df, id_vars=['artiste', 'track', 'genre', 'date.entered', 'date.peaked'], 
               value_name='rank', var_name='week')
billboard

,artiste,track,genre,date.entered,date.peaked,week,rank
0,Destiny's Child,Independent Women Part I,Rock,9/23/2000,11/18/2000,x1st.week,78.0
1,Santana,"Maria, Maria",Rock,2/12/2000,4/8/2000,x1st.week,15.0
2,Savage Garden,I Knew I Loved You,Rock,10/23/1999,1/29/2000,x1st.week,71.0
3,Madonna,Music,Rock,8/12/2000,9/16/2000,x1st.week,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,8/5/2000,10/14/2000,x1st.week,57.0
...,...,...,...,...,...,...,...
24087,Ghostface Killah,Cherchez LaGhost,R&B,8/5/2000,8/5/2000,x76th.week,NaN
24088,"Smith, Will",Freakin' It,Rap,2/12/2000,2/12/2000,x76th.week,NaN
24089,Zombie Nation,Kernkraft 400,Rock,9/2/2000,9/2/2000,x76th.week,NaN
24090,"Eastsidaz, The",Got Beef,Rap,7/1/2000,7/1/2000,x76th.week,NaN
24091,Fragma,Toca's Miracle,R&B,10/28/2000,10/28/2000,x76th.week,NaN

In [28]:
billboard['week'] = billboard['week'].str.extract('(\d+)').astype(int)
billboard.head(5)

,artiste,track,genre,date.entered,date.peaked,week,rank
0,Destiny's Child,Independent Women Part I,Rock,9/23/2000,11/18/2000,1,78.0
1,Santana,"Maria, Maria",Rock,2/12/2000,4/8/2000,1,15.0
2,Savage Garden,I Knew I Loved You,Rock,10/23/1999,1/29/2000,1,71.0
3,Madonna,Music,Rock,8/12/2000,9/16/2000,1,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,8/5/2000,10/14/2000,1,57.0

In [29]:
billboard['date.entered'] = pd.to_datetime(billboard['date.entered'])

In [30]:
billboard['date.peaked'] = pd.to_datetime(billboard['date.peaked'])

In [31]:
billboard.head(4)

,artiste,track,genre,date.entered,date.peaked,week,rank
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,1,78.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,1,15.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,1,71.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,1,41.0

In [32]:
billboard['entered_to_peak'] = billboard['date.peaked'] - billboard['date.entered']
billboard

,artiste,track,genre,date.entered,date.peaked,week,rank,entered_to_peak
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,1,78.0,56 days
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,1,15.0,56 days
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,1,71.0,98 days
3,Madonna,Music,Rock,2000-08-12,2000-09-16,1,41.0,35 days
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,1,57.0,70 days
...,...,...,...,...,...,...,...,...
24087,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,76,NaN,0 days
24088,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,76,NaN,0 days
24089,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,76,NaN,0 days
24090,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,76,NaN,0 days
24091,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,76,NaN,0 days

In [34]:
billboard['entered_to_peak'].dt.days

0        56
1        56
2        98
3        35
4        70
         ..
24087     0
24088     0
24089     0
24090     0
24091     0
Name: entered_to_peak, Length: 24092, dtype: int64

In [35]:
billboard.dtypes

artiste                     object
track                       object
genre                       object
date.entered        datetime64[ns]
date.peaked         datetime64[ns]
week                         int32
rank                       float64
entered_to_peak    timedelta64[ns]
dtype: object

In [ ]:
#From the dataset Madonna(Music) ranked first after peaking 35 days from entering into the competition.